<div class="app-window">
  <div class="header">
    <div class="title">CHIPS</div>

    <button mat-flat-button (click)="changeTheme(themeNamesEnum.GREEN)">
      GREEN THEME
    </button>
    <button mat-flat-button (click)="changeTheme(themeNamesEnum.YELLOW)">
      YELLOW THEME
    </button>
    <button mat-flat-button (click)="toggleMode()">MODE</button>
  </div>

  <div class="body">
    <p>Button Variants</p>
    <button mat-flat-button class="primary-button">PRIMARY</button>
    <button mat-flat-button class="secondary-button">SECONDARY</button>
    <button mat-flat-button class="tertiary-button">TERTIARY</button>
    <button mat-flat-button class="error-button">ERROR</button>

    <br />
    <br />

    <mat-form-field appearance="outline" class="primary-form-field">
      <mat-label>Primary</mat-label>
      <input type="text" matInput placeholder="Primary" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="secondary-form-field">
      <mat-label>Secondary</mat-label>
      <input type="text" matInput placeholder="Secondary" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="tertiary-form-field">
      <mat-label>Tertiary</mat-label>
      <input type="text" matInput placeholder="Tertiary" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="error-form-field">
      <mat-label>Tertiary</mat-label>
      <input type="text" matInput placeholder="Tertiary" />
    </mat-form-field>

    <br />
    <br />

    <mat-icon class="primary-icon">person</mat-icon>
    <mat-icon class="secondary-icon">person</mat-icon>
    <mat-icon class="tertiary-icon">person</mat-icon>
    <mat-icon class="error-icon">person</mat-icon>

    <!-- My Component -->
    <div
      class="my-component-class"
      style="
        width: 250px;
        height: 250px;
        border: 1px solid gray;
        margin: 16px;
        padding: 16px;
        "
    >
      My Component Theme
    </div>

    <br />
    <br />

    <!-- Chip Set -->
    <p>Chip Set</p>
    <mat-chip-set>
      @for (fruit of chipsList; track $index) {
        <mat-chip>
          <img
            matChipAvatar
            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
            alt="Photo of a Shiba Inu"
          />
          {{ fruit }}

          <button matChipRemove (click)="removeChip(fruit)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      }
    </mat-chip-set>

    <!-- Chip Option List -->
    <p>Chip Option List</p>
    <mat-chip-listbox multiple [formControl]="chipOptionListFormControl">
      @for (fruit of chipsList; track $index) {
        <mat-chip-option>{{ fruit }}</mat-chip-option>
      }
    </mat-chip-listbox>

    <!-- Chip Grid -->
    <p>Chip Grid</p>
    <mat-form-field>
      <mat-label>Fruits</mat-label>

      <!-- Chip Grid -->
      <mat-chip-grid #chipGrid>
        @for (item of chipsGridItemList; track $index) {
          <mat-chip-row>
            {{ item }}

            <button matChipRemove (click)="removeChipGridItem(item)">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>

      <input
        matInput
        placeholder="Fruits"
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="addChipGridItem($event)"
      />
    </mat-form-field>

    <!-- Menu Button -->
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- New section -->
  <br />
  <h1>Form Control Error</h1>

  <!-- Login Form -->
  <div class="login-form" [formGroup]="loginFormGroup">
    <!-- Username -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        placeholder="Username"
        formControlName="username"
      />

      <!-- Error -->
      @if (loginFormGroup.hasError('required', 'username')) {
        <mat-error>Username is <b>required</b></mat-error>
      }

      @if (loginFormGroup.hasError('pattern', 'username')) {
        <mat-error>
          Username must be [a-z] with minimum of 4 characters
        </mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="text"
        matInput
        placeholder="Password"
        formControlName="password"
      />

      <!-- Error -->
      @if (loginFormGroup.hasError('required', 'password')) {
        <mat-error>Password is <b>required</b></mat-error>
      }

      @if (loginFormGroup.hasError('invalidPassword', 'password')) {
        <mat-error>
          Password is <b>invalid</b>. Password must be blar blar blar...
        </mat-error>
      }
    </mat-form-field>

    <!-- Login Button -->
    <button mat-stroked-button>LOGIN</button>
  </div>
</div>

<!-- App Menu -->
<mat-menu #appMenu>
  <!-- Simple Menu -->
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    Log Out
  </button>

  <!-- Nested Menu -->
  <button mat-menu-item [matMenuTriggerFor]="nestedMenu">
    <mat-icon>menu</mat-icon>
    Nested Menu
  </button>
</mat-menu>

<!-- Nested Menu -->
<mat-menu #nestedMenu>
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    Person
  </button>
</mat-menu>
